<section class="cab-section flight-section p-0">
  <div class="cloud" [style.background-image]="'url(/assets/imges2/cloud.png)' "></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="cab-content">
          <div>
            <div class="top-cls mt-5">
              #Tuba
            </div>
            <h2>great journey begins</h2>
            <h3>with a small step</h3>

            <h2>Fly Beyond Borders with Tuba International Flight Booking ✈️🌍</h2>

            <p>Your next adventure is just a click away! Whether you're traveling for business, leisure, or a special
              occasion,
              <strong>Tuba International Flight Booking</strong> ensures a seamless experience from takeoff to
              touchdown.
            </p>


            <p><strong>🌟 Your great journey begins with a small step.</strong> Start yours today with <strong>Tuba
                International Flight Booking</strong>!</p>

            <a href="/flight/booking/book-now" class="btn btn-primary">🚀 Book Now & Fly Smart!</a>
            <!-- <app-search-box [type]="'flight'"></app-search-box> -->
            <!-- <form class="radio-form">
              <input id="radio-1" type="radio" name="gender" value="in city" checked>
              <label for="radio-1" class="radio-label">multi-city route</label>
              <input id="radio-2" type="radio" name="gender" value="out of city">
              <label for="radio-2" class="radio-label">non stop flights</label>
            </form> -->
            <!-- <a href="javascript:void(0)" class="btn btn-rounded color1" [routerLink]="['/flight/booking/book-now']">book now</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>