<section class="medium-section parallax-img subscribe-section" [style.background-image]="'url(assets/home/subscribe-bg.jpg)'">
  <img src="assets/home/subscribe-bg.jpg" class="bg-img" alt="bg-image" style="display: none;">
  <div class="container">
    <div class="title-1">
      <span class="title-label">our</span>
      <h2 class="text-white">subscribe</h2>
    </div>
    <div class="row">
      <div class="offset-xl-3 col-xl-6 col-md-8 offset-md-2 col-10 offset-1">
        <app-subscribe [type]="'basic'"></app-subscribe>
      </div>
    </div>
  </div>
</section>
