<app-header [headerClass]="'light_header'"></app-header>

<section class="pt-0 ratio2_3 zoom-gallery overlay-hover">
  <div class="container-fluid p-0">
    @if(hotelDetails){
      <app-hotel-image-box [hotelGallery]="hotelDetails.gallery"></app-hotel-image-box>
    }
  </div>
</section>

<section class="single-section small-section bg-inner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <app-hotel-title-section></app-hotel-title-section>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="description-section tab-section">
          <div class="menu-top menu-up">
            <app-hotel-tab-slider [type]="'tab'" (tabValue)="getTabValue($event)"></app-hotel-tab-slider>
            <div class="description-details tab-content" id="top-tabContent">
              @if(hotelDetails){
                @for(details of hotelDetails.details; track details){
                  @if(activeTab == 'about' && details.about){
                    <app-hotel-about [hotelAbout]="details.about" [type]="'tab'"></app-hotel-about>
                  }
                  @if(activeTab == 'rooms' && details.rooms){
                    <app-hotel-rooms [hotelRooms]="details.rooms" [type]="'tab'"></app-hotel-rooms>
                  }
                  @if(activeTab == 'facility' && details.facility){
                    <app-hotel-facility [hotelFacility]="details.facility" [type]="'tab'"></app-hotel-facility>
                  }
                  @if(activeTab == 'location' && details.location){
                    <app-hotel-location [hotelLocation]="details.location" [type]="'tab'"></app-hotel-location>
                  }
                  @if(activeTab == 'reviews' && details.review){
                    <app-hotel-review [hotelReview]="details.review" [type]="'tab'"></app-hotel-review>
                  }
                  @if(activeTab == 'policy' && details.policy){
                    <app-hotel-policy [hotelPolicy]="details.policy" [type]="'tab'"></app-hotel-policy>
                  }
                }
              }
            </div>
          </div>
        </div>
        <div class="special-section related-box ratio3_2 grid-box">
          <div class="slider-3 no-arrow">
            <app-single-page-hotels></app-single-page-hotels>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4" id="booking">
        <div class="sticky-cls">
          <app-hotel-single-page-filter></app-hotel-single-page-filter>
        </div>
      </div>
    </div>
  </div>
</section>

<app-hotel-single-page-modal></app-hotel-single-page-modal>

<app-footer [location]="true"></app-footer>

<app-layout [loaderType]="'skeleton'" [skeletonType]="'single-page'" [hotel]="true" [withOutTopPage]="true" [filterType]="'right'"></app-layout>
