<section class="home_effect effect-cls pt-0">
  <div class="snow" count="30"></div>
  <div class="effect_image" style="background-size: {{ bg_size + '%'}};">
    <img src="assets/images/tour/background/2.png" alt="background-image">
    <div class="effect_content" [style.top]="top + '%'">
      <div>
        <h1 [style.font-size]="font_size + '%'">book your travel</h1>
      </div>
    </div>
  </div>
</section>

<section class="section-b-space pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="search_section">
          <div class="title-3 detail-title">
            <span class="title-label">Tuba</span>
            <h2>welcome to Tuba International<span>search</span></h2>
            <p>"Welcome to Tuba International Tours Package! Explore the world with tailored travel experiences, professional guides, and affordable luxury. Choose Tuba for seamless, hassle-free journeys and unforgettable adventures at competitive prices."!</p>
          </div>
          <div class="book-table single-table input-radius-cls">
            <div class="table-form classic-form p-0">
              <app-search-box [type]="'classic'"></app-search-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
