.whtbx {
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #D5DEE4;
  box-shadow: 0 3px 6px 0 #363c581a;
  width: 100%;
  background: #fff;
}

.mt-40 {
  margin-top: 40px;
}
._errrbx, .lang_sec, section {
  float: left;
  width: 100%;
}
section {
  float: unset !important;
  width: 100%;
  margin: auto;
  margin-bottom: 0 !important;
}