<div class="footer-title mobile-title">
  <h5>contact us</h5>
</div>
<div class="footer-content">
  <div class="contact-detail">
    <div class="footer-logo">
      <img [src]="footerLogo" alt="logo" class="img-fluid blur-up lazyload">
    </div>
    <p> Tuba International Travel is your trusted partner for seamless global journeys. With our expertise in e-visa
      services, we help you navigate the complexities of international travel with ease. Whether you're traveling for
      business, tourism, or medical reasons, our comprehensive travel solutions ensure a smooth and hassle-free
      experience from start to finish. Stay informed, stay prepared, and embark on your next adventure with confidence.
    </p>
    <ul class="contact-list">
      <li><i class="fas fa-map-marker-alt"></i>Gazala Manzil, Near Jama Masjid, Rajpur Nawada Distt. Bijnor(U.P.)
        Pin-246732 </li>
      <li><i class="fas fa-phone-alt"></i>+91 9643306786</li>
      <li><i class="fas fa-phone-alt"></i>+91 9643406786</li>
      <li><i class="fas fa-envelope"></i> support&#64;tubainternational.in</li>
    </ul>
  </div>
</div>