<app-header [headerClass]="'overlay-black'"></app-header>



<div class="container">

  <div class="vsfl_cont">

    <div class="gurnt_vmain">

      <div class="mid_cnt mt-5">
        <div class="tlesbvs">
          <h4>Enjoy Visa Services</h4> <br>
          <div class="hedmainv f40 wt700">On Trending Tourist Attractions </div>
        </div>



        
          <div class="row">
            <div class="col-md-3 mt-5" *ngFor="let visa of visas">
              <a class=" crdv_destn hover15">
                <div class="imge_tsctn">
                  <figure>
                    <img [src]="visa.imageUrl" [alt]="visa.country" class="img-fluid">
                  </figure>
                </div>
                <div class="dtlabtvsa p-3">
                  <div class="loctnme wt600">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ visa.country }}
                  </div>
                  <div class="gtdtym f14">Get on <span>{{ visa.dateTime }}</span></div>
                </div>
              </a>
            </div>
          </div>
       


      </div>

    </div>

    <div class="mid_cnt mt-5 sacred-journeys-section">
      <div class="vis_stpsfll">
        <div class="tlesbvs">
          <h4>Sacred Journeys</h4>
          <div class="hedmainv f40 wt700">Hajj & Umrah Services</div>
        </div>

        <ul class="nav nav-tabs" id="hajjUmrahTabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'hajj'" (click)="setActiveTab('hajj')" id="hajj-tab" role="tab" aria-controls="hajj" aria-selected="activeTab === 'hajj'">
              <i class="fas fa-kaaba"></i> Hajj
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'umrah'" (click)="setActiveTab('umrah')" id="umrah-tab" role="tab" aria-controls="umrah" aria-selected="activeTab === 'umrah'">
              <i class="fas fa-mosque"></i> Umrah
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'features'" (click)="setActiveTab('features')" id="features-tab" role="tab" aria-controls="features" aria-selected="activeTab === 'features'">
              <i class="fas fa-star-and-crescent"></i> Features
            </a>
          </li>
        </ul>

        <div class="tab-content" id="hajjUmrahTabContent">
          <div class="tab-pane fade" [class.show]="activeTab === 'hajj'" [class.active]="activeTab === 'hajj'" id="hajj" role="tabpanel" aria-labelledby="hajj-tab">
            <div class="card-container">
              <!-- Hajj Packages -->
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-kaaba fa-3x" style="color: #EF6614;"></i>
                  <h4>3-Star Hotel Package</h4>
                </div>
                <div class="card-body">
                  <ul class="package-features">
                    <li><i class="fas fa-passport"></i> Visa processing assistance</li>
                    <li><i class="fas fa-hotel"></i> 3-star accommodation</li>
                    <li><i class="fas fa-bus"></i> Shared transportation</li>
                    <li><i class="fas fa-praying-hands"></i> Group religious guidance</li>
                    <li><i class="fas fa-utensils"></i> Basic meals included</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-kaaba fa-3x" style="color: #EF6614;"></i>
                  <h4>3-Star Hotel Package</h4>
                </div>
                <div class="card-body">
                  <ul class="package-features">
                    <li><i class="fas fa-passport"></i> Visa processing assistance</li>
                    <li><i class="fas fa-hotel"></i> 3-star accommodation</li>
                    <li><i class="fas fa-bus"></i> Shared transportation</li>
                    <li><i class="fas fa-praying-hands"></i> Group religious guidance</li>
                    <li><i class="fas fa-utensils"></i> Basic meals included</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-kaaba fa-3x" style="color: #EF6614;"></i>
                  <h4>3-Star Hotel Package</h4>
                </div>
                <div class="card-body">
                  <ul class="package-features">
                    <li><i class="fas fa-passport"></i> Visa processing assistance</li>
                    <li><i class="fas fa-hotel"></i> 3-star accommodation</li>
                    <li><i class="fas fa-bus"></i> Shared transportation</li>
                    <li><i class="fas fa-praying-hands"></i> Group religious guidance</li>
                    <li><i class="fas fa-utensils"></i> Basic meals included</li>
                  </ul>
                </div>
              </div>
              <!-- Repeat for 4-Star and 5-Star Packages -->
            </div>
            <button class="btn btn-primary mt-3">Learn More</button>
          </div>
        
          <div class="tab-pane fade" [class.show]="activeTab === 'umrah'" [class.active]="activeTab === 'umrah'" id="umrah" role="tabpanel" aria-labelledby="umrah-tab">
            <div class="card-container">
              <!-- Umrah Packages -->
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-mosque fa-3x" style="color: #EF6614;"></i>
                  <h4>3-Star Hotel Package</h4>
                </div>
                <div class="card-body">
                  <ul class="package-features">
                    <li><i class="fas fa-passport"></i> Swift visa processing</li>
                    <li><i class="fas fa-hotel"></i> 3-star accommodation</li>
                    <li><i class="fas fa-bus"></i> Shared transportation</li>
                    <li><i class="fas fa-map-marked-alt"></i> Group ziyarat arrangements</li>
                    <li><i class="fas fa-utensils"></i> Basic meals included</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-mosque fa-3x" style="color: #EF6614;"></i>
                  <h4>4-Star Hotel Package</h4>
                </div>
                <div class="card-body">
                  <ul class="package-features">
                    <li><i class="fas fa-passport"></i> Swift visa processing</li>
                    <li><i class="fas fa-hotel"></i> 4-star accommodation</li>
                    <li><i class="fas fa-car"></i> Private transportation</li>
                    <li><i class="fas fa-map"></i> Personal ziyarat arrangements</li>
                    <li><i class="fas fa-utensils"></i> All-inclusive meals</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-mosque fa-3x" style="color: #EF6614;"></i>
                  <h4>5-Star Hotel Package</h4>
                </div>
                <div class="card-body">
                  <ul class="package-features">
                    <li><i class="fas fa-passport"></i> Swift visa processing</li>
                    <li><i class="fas fa-hotel"></i> 5-star luxury accommodation</li>
                    <li><i class="fas fa-limo"></i> VIP transportation</li>
                    <li><i class="fas fa-user-shield"></i> Dedicated ziyarat guide</li>
                    <li><i class="fas fa-utensils"></i> Gourmet meals included</li>
                  </ul>
                </div>
              </div>
            </div>
            <button class="btn btn-primary mt-3">Explore Now</button>
          </div>
        
          <div class="tab-pane fade" [class.show]="activeTab === 'features'" [class.active]="activeTab === 'features'" id="features" role="tabpanel" aria-labelledby="features-tab">
            <div class="card-container">
              <!-- Features -->
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-star-and-crescent fa-3x" style="color: #EF6614;"></i>
                  <h4>Premium Benefits</h4>
                </div>
                <div class="card-body">
                  <ul class="package-features">
                    <li><i class="fas fa-check-circle"></i> Ministry approved</li>
                    <li><i class="fas fa-history"></i> 15+ years experience</li>
                    <li><i class="fas fa-headset"></i> Dedicated support</li>
                    <li><i class="fas fa-car-side"></i> Luxury transport</li>
                    <li><i class="fas fa-bed"></i> Quality accommodation</li>
                    <li><i class="fas fa-user-graduate"></i> Expert guidance</li>
                  </ul>
                </div>
              </div>
            </div>
            <button class="btn btn-primary mt-3">Contact Us</button>
          </div>
        </div>
    </div>
</div>
      <div class="why_plebx ">
        <div class="tlesbvs">
          <h4>We Are Different</h4>
          <div class="hedmainv f40 wt700">What Are We Known For?</div>
        </div>
        <div class="vflx vjsb">
          <div class="sglchose">
            <div class="img-top"><img src="assets/visa/visastpm.svg" alt="Apply Icon"></div>
            <p>Special Visa Services for Diverse Countries </p>
          </div>
          <div class="sglchose">
            <div class="img-top"><img src="assets/visa/expricn.svg" alt="Experience Icon"></div>
            <p>Years of Unrivaled Expertise in Visa Processing</p>
          </div>
          <div class="sglchose">
            <div class="img-top"><img src="assets/visa/custmrsup.svg" alt="Assistance Icon"></div>
            <p>Dedicated End-to-End Visa Assistance </p>
          </div>
          <div class="sglchose">
            <div class="img-top"><img src="assets/visa/safeicn.svg" alt="Safety Icon"></div>
            <p>Optimal Level of Safety &amp; Confidentiality</p>
          </div>
        </div>
      </div>


      <div class="tlesbvs">
        <h4>Frequently</h4>
        <div class="hedmainv">Asked Questions</div>
      </div>
      <div class="fl_faqs mb-5">
        <div class="accordion">
          <div class="accordion__item" *ngFor="let item of faqItems; let i = index">
            <div
              class="accordion__item__header"
              [class.active]="activeIndex === i"
              (click)="toggleAccordion(i)"
            >
              {{ item.question }}
            </div>
        
            <div
              class="accordion__item__content"
              [style.display]="activeIndex === i ? 'block' : 'none'"
              [innerHTML]="getAnswerWithLineBreaks(item.answer)"
            >
            </div>
          </div>
        </div>
        
        
      </div>
      
      
    </div>

  </div>


<app-footer [location]="true"></app-footer>

<app-layout></app-layout>
<!-- <app-layout [loaderType]="'basic'"></app-layout> -->