<app-header [headerClass]="'inner-page'"></app-header>

<app-breadcrumbs [type]="'hotel'" [bg_image]="bg_image" [title]="title" [parent]="parent" [subParent]="subParent" [child]="child"></app-breadcrumbs>

<section class="section-b-space bg-inner animated-section">
  <app-animations [type]="'dots'"></app-animations>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="summery-box">
          <h2>payment option</h2>
          <app-booking></app-booking>
        </div>
      </div>
      <div class="col-lg-5 booking-order">
        <app-hotel-booking-details></app-hotel-booking-details>
      </div>
    </div>
  </div>
</section>

<app-footer [location]="true"></app-footer>

<app-layout [loaderType]="'basic'"></app-layout>
