<app-header [headerClass]="'light_header mix-2'" [searchTab]="true" (searchBoxType)="getValue($event)"></app-header>

<app-mix-minimal-home-section [searchBoxType]="searchBoxType"></app-mix-minimal-home-section>

@if(hotelVector){
  <app-hotel-vector-top-offers [topOffers]="hotelVector.topOffers"></app-hotel-vector-top-offers>

  <app-hotel-vector-popular-destination [popularDestination]="hotelVector.popularDestination"></app-hotel-vector-popular-destination>

  <app-hotel-vector-booking [booking]="hotelVector.booking"></app-hotel-vector-booking>

  <app-hotel-vector-blog [blogs]="hotelVector.blog"></app-hotel-vector-blog>
}

<app-hotel-vector-subscribe></app-hotel-vector-subscribe>

<app-footer [places]="true"></app-footer>

<app-layout [loaderType]="'basic'"></app-layout>
