<app-header [headerClass]="'tour-header'"></app-header>

<app-tour-trending-home-section></app-tour-trending-home-section>

@if(tourTrending){
  <app-tour-trending-holidays [id]="tourTrending.deals"></app-tour-trending-holidays>

  <app-tour-trending-explore-continents [continents]="tourTrending.continents"></app-tour-trending-explore-continents>

  <app-tour-trending-explore-themes [themes]="tourTrending.themes"></app-tour-trending-explore-themes>

  <div class="trending-testimonial">
    <app-tour-trending-testimonial [id]="tourTrending.testimonial"></app-tour-trending-testimonial>
  </div>
}

<app-footer [places]="true" [bgImage]="true" [subFooter]="false"></app-footer>

<app-layout [loaderType]="'basic'"></app-layout>
