<app-header [headerClass]="'light_header'"></app-header>

<app-hotel-vector-home-section></app-hotel-vector-home-section>

@if(hotelVector){
  <app-hotel-vector-top-offers [topOffers]="hotelVector.topOffers"></app-hotel-vector-top-offers>

  <app-hotel-vector-popular-destination [popularDestination]="hotelVector.popularDestination"></app-hotel-vector-popular-destination>

  <app-hotel-vector-booking [booking]="hotelVector.booking"></app-hotel-vector-booking>

  <app-hotel-vector-blog [blogs]="hotelVector.blog"></app-hotel-vector-blog>

  <app-hotel-vector-subscribe></app-hotel-vector-subscribe>
}

<app-footer [places]="true"></app-footer>

<app-layout [loaderType]="'basic'"></app-layout>
