<app-header [headerClass]="'inner-page'"></app-header>

<app-breadcrumbs [type]="'pages'" [bg_image]="bg_image" [title]="title" [parent]="parent" [child]="child" [paddingClass]="false"></app-breadcrumbs>

<section class=" p-5">
    <div class="container">
      <!-- Forgot Password Form -->
      <div class="login" *ngIf="!showNewPasswordForm">
        <h1>Forgot Password</h1>
        <form [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()">
          <div class="form-group">
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                id="emailOrUsername"
                formControlName="emailOrUsername"
                placeholder="Enter your email"
              />
              <small
                *ngIf="
                  forgotForm.get('emailOrUsername')?.invalid &&
                  forgotForm.get('emailOrUsername')?.touched
                "
                class="text-danger"
              >
                Valid email is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="w-100 btn btn-solid btn-outline">Submit</button>
          </div>
        </form>
      </div>
  
      <!-- New Password Form -->
      <div class="login" *ngIf="showNewPasswordForm">
        <h1>Set New Password</h1>
        <form [formGroup]="newPasswordForm" (ngSubmit)="onNewPasswordSubmit()">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="otp"
                formControlName="otp"
                placeholder="Enter OTP"
              />
              <small
                *ngIf="
                  newPasswordForm.get('otp')?.invalid &&
                  newPasswordForm.get('otp')?.touched
                "
                class="text-danger"
              >
                OTP is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="newPassword"
                formControlName="newPassword"
                placeholder="Enter new password"
              />
              <small
                *ngIf="
                  newPasswordForm.get('newPassword')?.invalid &&
                  newPasswordForm.get('newPassword')?.touched
                "
                class="text-danger"
              >
                New password is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="w-100 btn btn-solid btn-outline">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  
<app-footer [location]="true"></app-footer>

<app-layout [loaderType]="'basic'"></app-layout>