<app-header [headerClass]="'inner-page'"></app-header>

<div class="coming-soon cab-section flight-section bg-size"
  [style.background-image]="'url(assets/images/inner-pages/coming-soon2.jpg)'">
  <img src="assets/images/inner-pages/coming-soon2.jpg" alt="background-image" class="img-fluid blur-up lazyload bg-img"
    style="display: none;">
  <div class="cloud bg-size" [style.background-image]="'url(assets/images/flights/cloud.png)'">
    <img src="assets/images/flights/cloud.png" alt="cloud-image" class="bg-img" style="display: none;">
  </div>

  <div class="container">
    <!-- Forgot Password Form -->
    <div class="login" *ngIf="!showNewPasswordForm">
      <h1>Forgot Password</h1>
      
      <form [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()">
        <div class="form-group">
          <div class="input-group">
            <input type="email" 
                   [placeholder]="(forgotForm.get('emailOrUsername')?.invalid && forgotForm.get('emailOrUsername')?.touched) ? 'Valid email is required' : 'Enter your email'" 
                   id="emailOrUsername" 
                   class="form-control"
                   formControlName="emailOrUsername"
                   [ngClass]="{'is-invalid': forgotForm.get('emailOrUsername')?.invalid && forgotForm.get('emailOrUsername')?.touched}">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-solid btn-pill">Submit</button>
        </div>
      </form>
    </div>

    <!-- New Password Form -->
    <div class="login" *ngIf="showNewPasswordForm">
      <h1>Set New Password</h1>
      <form [formGroup]="newPasswordForm" (ngSubmit)="onNewPasswordSubmit()">
        <div class="form-group">
          <div class="input-group">
            <input type="text" 
                   [placeholder]="(newPasswordForm.get('otp')?.invalid && newPasswordForm.get('otp')?.touched) ? 'OTP is required' : 'Enter OTP'" 
                   class="form-control" 
                   id="otp" 
                   formControlName="otp"
                   [ngClass]="{'is-invalid': newPasswordForm.get('otp')?.invalid && newPasswordForm.get('otp')?.touched}" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="password" 
                   [placeholder]="(newPasswordForm.get('newPassword')?.invalid && newPasswordForm.get('newPassword')?.touched) ? 'New password is required' : 'Enter new password'" 
                   class="form-control" 
                   id="newPassword" 
                   formControlName="newPassword"
                   [ngClass]="{'is-invalid': newPasswordForm.get('newPassword')?.invalid && newPasswordForm.get('newPassword')?.touched}" />
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="w-100 btn btn-solid btn-outline">Reset Password</button>
        </div>
      </form>
    </div>
  </div>

</div>

<div *ngIf="message" class="alert" [ngClass]="{ 
  'alert-success': messageType === 'success',
  'alert-danger': messageType === 'error'
}">
<span>{{ message }}</span>
<!-- <button (click)="closeMessage()" class="close-btn">X</button> -->
</div>


  <!-- <app-footer [location]="true"></app-footer> -->

  <app-layout [loaderType]="'basic'"></app-layout>