<app-header [headerClass]="'inner-page'"></app-header>

<app-breadcrumbs [type]="'hotel'" [bg_image]="bg_image" [title]="title" [parent]="parent" [child]="child"></app-breadcrumbs>

<section class="bg-white pt-0 search-panel" id="searchBar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <app-search-box [type]="'basic'" [shadow]="false"></app-search-box>
      </div>
    </div>
  </div>
</section>

<section class="xs-section bg-inner" id="searchBar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <app-grid-panel [type]="'hotel'" (selectedTabValue)="getTabValue($event)" [grid4Option]="false"></app-grid-panel>
      </div>
      <div class="col-lg-9 ratio3_2">
        <app-details [type]="'hotel'" [selectedTabValue]="selectedTabValue" [gridType]="'3-grid'" [responsiveLatestFilter]="true"></app-details>
      </div>
      <div class="col-lg-3">
        <app-filter [type]="'hotel'"></app-filter>
      </div>
    </div>
  </div>
</section>

<app-footer [location]="true"></app-footer>

<app-layout [loaderType]="'skeleton'" [skeletonType]="'hotel'" [filterType]="'right'" [gridType]="'3-grid'" [filter]="true"></app-layout>
