<div class="footer-social">
  <ul>
    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://www.instagram.com/tuba.international?utm_source=qr&igsh=ZDh0eWs3eXlpaGhu" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://www.youtube.com/@TUBAINTERNATIONAL" target="_blank"><i class="fab fa-youtube"></i></a></li>
    <li><a href="https://myaccount.google.com/"><i class="fab fa-google"></i></a></li>
  </ul>
</div>
